.card_icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
}
.card_close {
  background-image: url(../../assets/close1.png);
}
.card_edit {
  background-image: url(../../assets/edit.png);
}
.arrowLeft {
  background-image: url(../../assets/arrowLeft.png);
}

.arrowRight {
  background-image: url(../../assets/arrowRight.png);
}
