.card_image {
  background-image: url(../../assets/close1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.arrowLeft {
  background-image: url(../../assets/arrowLeft.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrowRight {
  background-image: url(../../assets/arrowRight.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
